.listEmployees :global {
  flex: 1;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  @media (max-width: 300px) {
    font-size: 12px;
    font-weight: 200;
    * {
      margin: 0;
      padding: 0;
    }
  }
  .list {
    border-radius: 20px;
    overflow: auto;
    box-shadow: 3px 3px 7px #afafaf, -3px -3px 7px #ffffff;
    padding: 10px;
    table {
      border: 0px solid transparent;
      padding: 10px;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 0;
      th {
        background: #ccc;
        color: #333;
      }
      tr:hover {
        background: #ffd900;
        color: #333;
        cursor: pointer;
      }
    }
    .btn-add {
      border: 0px solid transparent;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 4px 0;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
    }
    .btn-add:hover {
      background: #ffd900;
      cursor: pointer;
      box-shadow: 3px 3px 5px #aaaaaa, -3px -3px 5px #ffffff;
    }
    .btn-add:active {
      cursor: pointer;
      background: #ffd900;
      box-shadow: inset 3px 3px 3px #a8a490, inset -3px -3px 3px #ffec7e;
    }
  }
}
