/*!******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.css ***!
  \******************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap);
/*!**************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/header/header.scss ***!
  \**************************************************************************************************************************************************************************************************/
.header_header_uIr {
  background: #fff;
  color: #333;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  border-bottom: 4px solid #333;
}
.header_header_uIr .headerContent {
  padding: 10px;
  max-width: 1080px;
  width: 100%;
}
/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/main/formFilter/formFilter.scss ***!
  \***************************************************************************************************************************************************************************************************************/
.formFilter_formFilter_dUe {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 3px 7px #afafaf;
  background: #ffd900;
}
.formFilter_formFilter_dUe .form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.formFilter_formFilter_dUe .form label {
  display: flex;
  align-items: center;
  margin: 10px;
}
.formFilter_formFilter_dUe .form label select {
  margin-left: 10px;
}
.formFilter_formFilter_dUe .form label input {
  margin: 0 10px;
  height: 20px;
  width: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/main/listEmployees/listEmployees.scss ***!
  \*********************************************************************************************************************************************************************************************************************/
.listEmployees_listEmployees_Jys {
  flex: 1;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 300px) {
  .listEmployees_listEmployees_Jys {
    font-size: 12px;
    font-weight: 200;
  }
  .listEmployees_listEmployees_Jys * {
    margin: 0;
    padding: 0;
  }
}
.listEmployees_listEmployees_Jys .list {
  border-radius: 20px;
  overflow: auto;
  box-shadow: 3px 3px 7px #afafaf, -3px -3px 7px #ffffff;
  padding: 10px;
}
.listEmployees_listEmployees_Jys .list table {
  border: 0px solid transparent;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 0;
}
.listEmployees_listEmployees_Jys .list table th {
  background: #ccc;
  color: #333;
}
.listEmployees_listEmployees_Jys .list table tr:hover {
  background: #ffd900;
  color: #333;
  cursor: pointer;
}
.listEmployees_listEmployees_Jys .list .btn-add {
  border: 0px solid transparent;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 4px 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}
.listEmployees_listEmployees_Jys .list .btn-add:hover {
  background: #ffd900;
  cursor: pointer;
  box-shadow: 3px 3px 5px #aaaaaa, -3px -3px 5px #ffffff;
}
.listEmployees_listEmployees_Jys .list .btn-add:active {
  cursor: pointer;
  background: #ffd900;
  box-shadow: inset 3px 3px 3px #a8a490, inset -3px -3px 3px #ffec7e;
}
/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/main/main.scss ***!
  \**********************************************************************************************************************************************************************************************/
.main_main_e9d {
  flex: 1;
  color: #333;
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
}
.main_main_e9d .mainContent {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/profile/profile.scss ***!
  \****************************************************************************************************************************************************************************************************/
.profile_profile_x_8 {
  flex: 1;
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.profile_profile_x_8 .profileContent {
  background: #dadada;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  position: relative;
}
@media (max-width: 600px) {
  .profile_profile_x_8 .profileContent {
    flex-direction: column;
  }
}
.profile_profile_x_8 .profileContent .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_profile_x_8 .profileContent .close-btn a {
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_profile_x_8 .profileContent .close-btn a img {
  width: 50%;
  height: 50%;
}
.profile_profile_x_8 .errorUrl {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}
/*!**************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/profile/photoBox/photoBox.scss ***!
  \**************************************************************************************************************************************************************************************************************/
.photoBox_photoBox__Jw {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .photoBox_photoBox__Jw {
    justify-content: center;
    align-items: flex-end;
  }
}
.photoBox_photoBox__Jw .photoBoxContent {
  -webkit-box-shadow: 3px 3px 8px 0px #535353, -3px -3px 8px 0px #fff;
  -moz-box-shadow: 3px 3px 8px 0px #535353, -3px -3px 8px 0px #fff;
  box-shadow: 3px 3px 8px 0px #535353, -3px -3px 8px 0px #fff;
  background: #555;
  padding: 20px;
  border-radius: 20px;
  min-height: 150px;
  min-width: 150px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/profile/dataBox/dataBox.scss ***!
  \************************************************************************************************************************************************************************************************************/
.dataBox_dataBox_TmE {
  margin-top: 30px;
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 600px) {
  .dataBox_dataBox_TmE {
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
  }
}
.dataBox_dataBox_TmE .dataBoxContent {
  margin: 20px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataBox_dataBox_TmE .dataBoxContent .edit-btn {
  width: 100%;
  max-width: 400px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}
.dataBox_dataBox_TmE .dataBoxContent .edit-btn input {
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #ccc;
  margin: 2px 5px;
}
.dataBox_dataBox_TmE .dataBoxContent .edit-btn input:hover {
  padding: 3px 6px;
  border: 0px solid #eee;
  box-shadow: 3px 3px 7px #afafaf, -3px -3px 7px #ffffff;
}
.dataBox_dataBox_TmE .dataBoxContent .edit-btn input:active {
  padding: 3px 6px;
  border: 0px solid transparent;
  box-shadow: inset 3px 3px 7px #b6b6b6, inset -3px -3px 7px #ffffff;
}
.dataBox_dataBox_TmE .dataBoxContent label {
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}
.dataBox_dataBox_TmE .dataBoxContent label input {
  margin-left: 10px;
  padding-left: 10px;
  border: 0px solid #333;
  border-bottom: 1px solid #777;
  background: transparent;
  flex: 1;
  text-align: right;
}
.dataBox_dataBox_TmE .dataBoxContent label #birthdayEmployee {
  min-width: 140px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.dataBox_dataBox_TmE .dataBoxContent label span {
  display: flex;
  align-items: center;
}
.dataBox_dataBox_TmE .dataBoxContent label span input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.dataBox_dataBox_TmE .dataBoxContent label select {
  margin-left: 10px;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 2px 5px;
  outline: none;
}
.dataBox_dataBox_TmE .dataBoxContent .saveBox {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dataBox_dataBox_TmE .dataBoxContent .saveBox input {
  height: 30px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #ccc;
  margin: 2px 5px;
}
.dataBox_dataBox_TmE .dataBoxContent .saveBox input:hover {
  padding: 3px 6px;
  border: 0px solid #eee;
  box-shadow: 3px 3px 7px #afafaf, -3px -3px 7px #ffffff;
}
.dataBox_dataBox_TmE .dataBoxContent .saveBox input:active {
  padding: 3px 6px;
  border: 0px solid transparent;
  box-shadow: inset 3px 3px 7px #b6b6b6, inset -3px -3px 7px #ffffff;
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/app.scss ***!
  \****************************************************************************************************************************************************************************************/
.app_app_PTA {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.app_app_PTA .wrapModal {
  background: #333333c4;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_app_PTA .wrapModal .modal {
  background: white;
  height: 100px;
  width: 100px;
  display: flex;
}
/*!**********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.css (1) ***!
  \**********************************************************************************************************************************************************************************/
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  max-width: 100%;
  min-width: 0;
}

#index_root_mzq {
  height: 100vh;
}
