@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  max-width: 100%;
  min-width: 0;
}

#root {
  height: 100vh;
}
